<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581370590070-p1ovi6rtlde9fv7vv7cfkg7foo901l3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581370590070-p1ovi6rtlde9fv7vv7cfkg7foo901l3d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>581370590070-4939nu416ekjoribr09cja6s66psm6rq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1I0PzXhPxn4tPWbLFAQW64ScjrIxobng</string>
	<key>GCM_SENDER_ID</key>
	<string>581370590070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inscode.proyecto</string>
	<key>PROJECT_ID</key>
	<string>insbd-57930</string>
	<key>STORAGE_BUCKET</key>
	<string>insbd-57930.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581370590070:ios:a37e48401a4d5c9613c057</string>
</dict>
</plist>